<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>HOME - Yuzuka&Kousuke Shimotsuki</title>
    <link href="../../static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="/register">REGISTER</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a href="/app/">APP</a></li>
                <li><a href="/about/">ABOUT</a></li>
            </ul>
        </nav>
        <div id="content">
            
            <aside>
            <section id="moments">
                <div class="moment">
                    <p>hello,this is a moment.hello,this is a moment.hello,this is a moment.hello,this is a moment.hello,this is a moment.hello,this is a moment.hello,this is a moment.hello,this is a moment.<span class="time">[19-01-12 18:12]</span><span class="author">Yuzuka</span></p>
                </div>
            </section>
            </aside>
            <section id="news">
                    <ul>
                        <li><a href="#">This is news</a></li>
                    </ul>
                </section>
        </div>
        <footer>
            <hr />
            <p>&copy;2019 Yuzuka Shimotsuki and Kousuke Shimotsuki. All Rights Reserved.</p>
        </footer>
    </div>
</body>

</html>