<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lorem Ipsum - Yuzuka&Kousuke Shimotsuki</title>
    <link href="../../static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/post.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
            <nav>
            
                    <ul>
                        <li><a href="/register">REGISTER</a></li>
                        <li><a href="/login">LOGIN</a></li>
                    </ul>
                    <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="/blog/">BLOG</a></li>
                            <li><a href="/app/">APP</a></li>
                            <li><a href="/about/">ABOUT</a></li>
                        </ul>
        
                </nav>
        <div id="content">
            <article>
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus malesuada purus eget mollis.
                    Aliquam bibendum tristique dolor, quis pulvinar nibh mollis nec. Nullam libero lorem, posuere quis
                    tincidunt nec, elementum a elit. Fusce in malesuada erat, eget molestie dui. Ut non felis
                    ultricies, hendrerit orci nec, blandit nisl. Nam nec interdum enim. Nunc a diam aliquet, hendrerit
                    arcu at, volutpat risus. Donec hendrerit nunc a placerat consectetur. Ut maximus blandit ornare.
                    Curabitur ornare consectetur laoreet. Phasellus placerat vel sapien nec maximus. In sit amet rutrum
                    tellus. Quisque consequat interdum luctus. Sed feugiat hendrerit nunc eu pretium. Fusce finibus
                    lacinia hendrerit.</p>
                <p>Donec imperdiet purus at massa tincidunt, nec fringilla nibh pulvinar. Donec pharetra, elit
                    malesuada vestibulum volutpat, sem ligula ullamcorper magna, vel varius tellus diam eget odio.
                    Maecenas mollis quam eget feugiat tempus. Vivamus velit arcu, egestas in purus vitae, iaculis
                    efficitur justo. Morbi dictum placerat leo eget hendrerit. In dignissim dapibus erat at interdum.
                    Nunc vehicula nisi et felis viverra volutpat. Nam quis dui sit amet tellus feugiat dictum quis
                    vitae diam. Nullam mattis in dolor nec aliquam. In leo augue, ornare ac varius quis, aliquet quis
                    tortor. Curabitur augue tellus, vehicula eu euismod a, molestie eget turpis. Morbi ac blandit nunc.</p>
                <p>Etiam in suscipit augue. Etiam nunc leo, eleifend ut tellus at, tempor varius metus. Nullam ac
                    volutpat libero. In congue porttitor ipsum, non iaculis justo lacinia ac. Integer finibus consequat
                    euismod. Morbi cursus lorem eget mauris bibendum, ut fringilla justo pellentesque. Proin sed
                    pellentesque dolor. Vivamus a felis at orci faucibus mattis ut vel neque. Maecenas id est quis
                    lorem pretium pharetra vel et odio. Praesent sed ornare nulla. Quisque dignissim nulla a augue
                    ultrices egestas. Praesent quis molestie urna. Ut faucibus nisi vel dolor varius, ac hendrerit
                    sapien fringilla.</p>
                <p>Morbi eu aliquam velit, a tincidunt tellus. Maecenas porta elit neque, vitae venenatis diam
                    porttitor pellentesque. Suspendisse fermentum velit non tortor efficitur euismod. Morbi accumsan
                    urna nec aliquam suscipit. Nam vel malesuada lacus, et scelerisque felis. Suspendisse vel bibendum
                    orci. Praesent aliquet luctus facilisis. Orci varius natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Nam convallis lectus a diam volutpat, et condimentum erat feugiat.
                    Pellentesque malesuada purus eget ligula mattis cursus. Nunc condimentum volutpat mi sed blandit.
                    In hac habitasse platea dictumst. Morbi nec facilisis ante. Sed a dignissim sapien, sit amet
                    scelerisque tortor. Suspendisse congue, mauris vel viverra convallis, velit tellus tristique nulla,
                    at tempus lacus metus sed eros.</p>
                <p>Vivamus interdum risus ut velit accumsan, a vestibulum massa eleifend. Nullam semper, nibh in
                    tincidunt interdum, ante erat rutrum tortor, at scelerisque dui mauris sed ex. Nulla eu rhoncus
                    nulla, sed vulputate metus. Sed tempor turpis eget velit interdum vulputate. Nam eget justo vel
                    lectus blandit auctor eu eu elit. Aenean ac dictum urna, rutrum eleifend mauris. Sed nisl neque,
                    finibus a accumsan iaculis, ornare id risus. Curabitur nisl neque, bibendum ac leo ac, tristique
                    scelerisque massa.</p>
            </article>


        </div>
        <footer>
            <hr />
            <p>&copy;2019 Yuzuka Shimotsuki and Kousuke Shimotsuki. All Rights Reserved.</p>
        </footer>
    </div>
</body>

</html>