div.app{
    height: 170px;
    padding: 15px;
}

div.app h2{
    margin: 0px 0px 12px 0px;
    text-align: center;
}

div.app h2 a{
    text-decoration: none;
}

h1{
    text-align: center;
}

div#content div#applications{
    column-count: 3;
    column-gap: 0px;
}


