span.time{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

span.author{
    font-size: 12px;
    font-style: italic;
}

aside{
    width: 400px;
    float: left;
}

div#content{
    
}