<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>APP - Yuzuka&Kousuke Shimotsuki</title>
    <link href="../static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/app.css" rel="stylesheet" type="text/css" />


</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a href="/about/">ABOUT</a></li>
                <li><a href="/register">REGISTER</a></li>
            </ul>
        </nav>
        <div id="content">
            <div class="app">
                <h2>Pixiv Viewer</h2>
                <p>View Pixiv illustrations</p>
            </div>
            <div class="app">
                <h2>Pixiv Viewer</h2>
                <p>View Pixiv illustrations</p>
            </div>
            <div class="app">
                <h2>Pixiv Viewer</h2>
                <p>View Pixiv illustrations</p>
            </div>
            <div class="app">
                <h2>Pixiv Viewer</h2>
                <p>View Pixiv illustrations</p>
            </div>
            <div class="app">
                <h2>Pixiv Viewer</h2>
                <p>View Pixiv illustrations</p>
            </div>
            <div class="app">
                <h2>Pixiv Viewer</h2>
                <p>View Pixiv illustrations</p>
            </div>
        </div>
        <footer>
            <hr />
            <p>&copy;2019 Yuzuka Shimotsuki and Kousuke Shimotsuki. All Rights Reserved.</p>
        </footer>
    </div>
    <script src="../static/js/app.js"></script>
</body>

</html>