<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home - Yuzuka</title>
    <link href="/static/css/general.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </nav>
        <p>{{ . }}</p>
        <footer>
            <p>&copy;Shimotsuki Yuzuka</p>
        </footer>
    </div>
</body>

</html>