{{ define "head" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ .Title }} - Yuzuka&Kousuke Shimotsuki</title>
    {{ range .CSS }}
    <link href="/static/css/{{ . }}.css" rel="stylesheet" type="text/css" />
    {{ end }}
</head>
{{ end }}



{{ define "layout" }}

<body>
    <div id="wrapper">
        <nav>
            
            <ul>
                <li><a href="/register">REGISTER</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
            <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/blog/">BLOG</a></li>
                    <li><a href="/app/">APP</a></li>
                    <li><a href="/about/">ABOUT</a></li>
                </ul>

        </nav>
        <div id="content">
            {{ template "content" . }}
        </div>
        <footer>
            <hr />
            <p>&copy;2019 Yuzuka Shimotsuki and Kousuke Shimotsuki. All Rights Reserved.</p>
        </footer>
    </div>
    {{ end }}

{{ define "script" }}
{{ range . }}
<script src="/static/js/{{ . }}.js"></script>
{{ end }}
</body>
</html>
{{ end }}